[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"

[packages]
pockyt = {editable = true,path = "."}
parse = "==1.15.0"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
