[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
pockyt = {editable = true,path = "."}
parse = "==1.6.6"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
